* {
  padding: 0px;
  margin: 0px;
}
#main {
  display: grid;
  grid-template-areas: "he he" "nav nav" "as ar" "foo foo";
  grid-template-rows: 20vh 12vh 48vh 20vh;
  grid-template-columns: 20vw 80vw;
}
@media screen and (max-width: 700px) {
  #main {
    grid-template-areas: "he" "as" "ar" "foo";
    grid-template-columns: 100vw;
  }
}

.header {
  grid-area: he;
  background-color: beige;
}
.nav {
  grid-area: nav;
  background-color: bisque;
}
.article {
  grid-area: ar;
  background-color: aliceblue;
}
.aside {
  grid-area: as;
  background-color: blanchedalmond;
}
.footer {
  grid-area: foo;
  background-color: blue;
}
