.container {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.flex_flow {
  flex-flow: row wrap;
}
.item {
  flex: 1;
  background: tomato;
  text-align: center;
  margin: 2px;
  font-family: monospace;
}
h1 {
  text-align: center;
  font-family: monospace;
  font-size: medium;
}
