.stretch {
  align-content: stretch;
}
.flex-start {
  align-content: flex-start;
}
.flex-end {
  align-content: flex-end;
}
.center {
  align-content: center;
}
.space-between {
  align-content: space-between;
}
.space-around {
  align-content: space-around;
}
h1 {
  font-family: monospace;
  font-size: medium;
  text-align: center;
}
.item {
  flex: 1;
  margin: 2px;
  background: tomato;
  font-family: monospace;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 3px;
  max-width: 300px;
  height: 180px;
  margin: 0 auto;
}
